In [99]:
# Dependencies
import numpy as np

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func, inspect

In [100]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [101]:
# Create our session (link) from Python to the DB
session = Session(engine)
inspector = inspect(engine)
inspector.get_table_names()
columns = inspector.get_columns('measurement')
for c in columns:
    print(c['name'])

id
station
date
prcp
tobs

In [113]:
 conn = engine.connect
# blah = engine.execute('SELECT * FROM measurement')
# for record in blah:
#     print(record)
results = pd.read_sql('SELECT * FROM measurement', conn)
results.head()

AttributeError: 'function' object has no attribute 'cursor'

## D1: Determine the Summary Statistics for June

In [103]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract
import pandas as pd
# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 6)\
.all()
len(results)

1700

In [104]:
#  3. Convert the June temperatures to a list.
results_list = list(results)
len(results_list)

1700

In [107]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
june_temps = pd.DataFrame(results_list, columns=['June'])
june_temps.head()

   June
0  78.0
1  76.0
2  78.0
3  76.0
4  77.0

In [108]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
june_temps.describe()

              June
count  1700.000000
mean     74.944118
std       3.257417
min      64.000000
25%      73.000000
50%      75.000000
75%      77.000000
max      85.000000

## D2: Determine the Summary Statistics for December

In [109]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
results = session.query(Measurement.tobs).filter(extract('month', Measurement.date) == 12)\
.all()

In [110]:
# 7. Convert the December temperatures to a list.
results_list = list(results)

In [111]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
december_temps = pd.DataFrame(results_list, columns=['December'])

In [112]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
december_temps.describe()

          December
count  1517.000000
mean     71.041529
std       3.745920
min      56.000000
25%      69.000000
50%      71.000000
75%      74.000000
max      83.000000